* {
    font-family: monospace;
}

body {
    background-color: #BFC39F;
    text-align: center;
}

#scoreBoard {
    display: block;
    background-color: beige;
    border: 0.14em solid black;
    padding: 3em 3em;
    margin: 10% 20%;
}

button {
    padding: 0.7em;
    font-size: 1.2em;
    font-weight: 600;
    border: 0.14em solid black;
    background-color: #E7A48B;
}

button:hover {
    background-color: #D77E6B;
    cursor: pointer;
}
